@media screen and (max-width: 767px) {
  .display-1 {
    font-size: 2.5rem;
  }
  .display-2 {
    font-size: 2rem;
  }
  .display-3 {
    font-size: 1.75rem;
  }
  .display-4 {
    font-size: 1.5rem;
  }
}